<h2>List of items</h2>
<%= will_paginate @posts %>
<ul>
    <% @items.each do |info| %>
        <%# The only reason I have the id popping up is for you to be able to know the ids of the items %>
        <li><%= info.id %>    
            <%= link_to info.name, items_info_path(info) %>
        </li>
    <% end %>
</ul>
